@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 72rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
